fieldset {
    border: none;
}

main {
    display: flex;

}

.order-container {
    display: flex;
    width: min(1200px, 90%);
    flex-direction: row;
    padding-top: 10%;
    gap: 10%;

    &>* {
        flex: 1;
    }

    & section {

        & h2 {
            color: black;
        }

        & fieldset {
            display: flex;
            flex-direction: row;
            gap: 1em;
            padding: .5rem 0;

            & input {
                flex-grow: 1;
                padding: .5rem;
                border-radius: .5rem;
                color: black;
                border: 1px solid grey;
                font-family: Outfit;
                font-size:medium;
                transition: all .2s linear;

                &:focus {
                    background-color: aliceblue;
                    outline: none;
                    /* border: 1px solid transparent; */
                }

                &:-webkit-autofill {
                    -webkit-box-shadow: 0 0 0 1000px white inset;
                    /* -webkit-text-fill-color: white; */
                    /* border-color: #e60b0b; */

                }
            }

            &:last-child {
                display: flex;
                flex-direction: column;
                flex-shrink: 1;
            }
        }
    }


}

.total-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-self: start;
    /* gap: 5em; */
}

.total-container-order {
    & .receipt {
        width: 100%;
        height: 100%;

        & table {
            width: 100%;
        }

        & table tr td {
            margin: .5em 0;
        }
    }
}

.checkout {
    background-color: rgb(255, 94, 0);
    border: none;
    color: white;
    padding: .7em 1.5em;
    border-radius: 5px;
    font-size: 1em;
    transition: all .1s linear;

    &:hover {
        cursor: pointer;
        transform: scale(1.02);
    }
}