fieldset {
    border: none;
}

main {
    display: flex;

}

.order-container {
    display: flex;
    width: min(1200px, 90%);
    flex-direction: row;
    padding-top: 10%;
    gap: 10%;

    &>* {
        flex: 1;
    }

    & section {

        & h2 {
            color: black;
        }

        & fieldset {
            display: flex;
            flex-direction: row;
            gap: 1em;
            padding: .5rem 0;

            & input {
                flex-grow: 1;
                padding: .5rem;
                border-radius: .5rem;
                border: 1px solid grey;

                transition: all .2s linear;

                &:focus {
                    /* transform: scale(1.01); */
                    border-color: orange;
                }
            }

            &:last-child {
                display: flex;
                flex-direction: column;
                flex-shrink: 1;
            }
        }
    }


}

.total-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-self: start;
    /* gap: 5em; */
}

.total-container-order{
    & .receipt{
        width: 100%;
        height: 100%;
    
        & table{
            width: 100%;
        }

        & table tr td{
            margin: .5em 0;
        }
    }
}