.navbar {
    width: 100%;
    height: fit-content;
    padding: .5em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-shadow: 0 1px 25px rgb(206, 179, 179);
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.nav-link ul {
    display: flex;
    height: 100%;
    flex-direction: row;
    list-style-type: none;
    text-align: center;
    align-items: center;
    gap: 2em;
    transition: all .1s linear;
    text-underline-offset: 0.5em;

    & a {
        transition: all .1s linear;

        &:hover {
            transform: scale(1.1);
            cursor: pointer;
            text-decoration: underline;
        }
    }
}

.data {
    display: flex;
    flex-direction: row;
    gap: 1em;

    & div {
        transition: all .1s linear;
        display: flex;
        flex-direction: row;
        align-items: center;
    }


    & div:hover {
        transform: scale(1.1);
        cursor: pointer;
    }
}

.sign-in {
    padding: 1em 2em;
    border-radius: 25px;
    border: 1px solid rgba(70, 68, 68, 0.466);
    cursor: pointer;
}

.basket {
    position: relative;
}

.notification-dot {
    color: white;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    text-wrap: nowrap;
    width: 1.1em;
    font-size: .9em;
    font-weight: 500;
    height: 1.1em;
    position: absolute;
    top: .1em;
    right: -.3em;
    border-radius: 50px;
    border: 1px solid rgb(214, 10, 10);
}